footer {
        background-color:white;
       	height: 60px;
        width: 100%;
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
        bottom: 0;
	border-top: 1px solid #CCCCCC;
}
