/*
 * header style
 */
 header {
       background: #fff url('https://s3.amazonaws.com/intranet-projects-files/h        olbertonschool-higher-level_programming+/268/logo.png') 20px center no-repeat;
       border-bottom: 1px solid #ccc;
       height: 70px;
       width: 100%;
 }