.places {
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.places h1 {
    width: 100%;
    font-size: 30px;
}

article { 
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
    position: relative;
    z-index; -1;
}

article h2 {
    font-size: 30px;
    flex-direction: column;
    padding-bottom: 10%;
    text-align: center;
}
.information {
	display: flex;
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	justify-content: center;
	align-items: center;
}
.price_by_night {
	color: #FF5A5F;
	border: 4px solid #FF5A5F;
	min-width: 60px;
	height: 60px;
	border-radius: 50%;
	font-size: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	position: absolute;
	top: 5%;
	right; 7%;
}
.max_guest,
.number_rooms,
.number_bathrooms {
	width: 100px;
	text-align: center;
}
.max_guest p,
.number_rooms p,
.number_bathrooms p {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 10px;
}
.bath_i {
	margin-left: auto;
	margin-right: auto;
	height: 50px;
	width: 50px;
	background-image: url("../images/icon_bath.png");
}
.room_i {
	margin-left: auto;
        margin-right: auto;
        height: 50px;
        width: 50px;
	background-image: url("../images/icon_bed.png");
}
.guest_i {
	margin-left: auto;
        margin-right: auto;
        height: 50px;
        width: 50px;
	background-image: url("../images/icon_group.png");
}
.user {
	margin: 10px auto;
}
.description p {
	margin: 10px auto;
}

